{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh;width:100%">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Réinitialiser votre mot de passe</h2>
                    <br>
                   {% if updated %}
                        <div class="row justify-content-center align-items-center" style="height:100vh;width:100%">
                        <div class="form-group"> Votre mot de passe a été mis à jour avec succès </div>
                            <div class="form-group"><a href="{{url('app_login')}}" class="btn btn-primary">Retour page de connexion</a></div>
                            </div>
                   {% else %}
                                 {% if error != "" %}
                        <div class="alert alert-danger">{{ error}}</div>
                    {% endif %}
                    <form action="{{url('post_reset_password',{'token': token})}}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <input type="hidden" value="{{ token }}" name="reset_token" id="token" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nouveau mot de passe" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword" class="sr-only">Mot de passe</label>
                            <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Confirmer votre nouveau mot de passe" required>
                        </div>
                        
                        <button type="submit" id="sendlogin" class="btn btn-primary float-right">Modifier mot passe</button>
                    </form>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
