{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    {% if sent == false %}
        <div class="row justify-content-center align-items-center" style="height:100vh;width:100%">
        <h2 class="card-title">Réinitialiser votre mot de passe ?</h2>
            <div class="col-md-6 col-sm-12">

                <div class="card p-3">
                
                <h5 class="card-title">Nous avons trouvé les informations suivantes relatives à votre compte.</h5>
                    <div class="card-body">
                        <form action="{{url("send_password_reset",{'id': id})}}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group">
                                <label class="alert alert-default">{{email}}</label>
                                <input type="hidden" name="email" value="{{email}}" id="inputEmail" class="form-control" placeholder="E-mail ou téléphone" required autofocus>
                            </div>
                            <button type="submit" id="sendResetPassword" class="btn btn-primary float-right">Envoyer un e-mail</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <br >
    <center>
    <div class="justify-content-center align-items-center" style="height:100vh;width:100%">
    <p>Vous allez recevoir un e-mail pour changer votre mot de passe</p>
    <p>Ce lien expirera dans 10 minutes</p><br>
    <div class="form-group"><a href="{{url('app_login')}}" class="btn btn-primary"> Retour à la page de connexion</a><br /></div>
    </center>
    </div>
    </br>
    {% endif %}  
</div>
{% endblock %}
